---
import Astrolabe from "./ArtifactAstrolabe.astro";
import Kharcha from "./ArtifactKharcha.astro";
import Dithered from "./ArtifactDithered.astro";
import Mausam from "./ArtifactMausam.astro";
import Wezterm from "./ArtifactWezterm.astro";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const map: Record<string, any> = {
  astrolabe: Astrolabe,
  kharcha: Kharcha,
  dithered: Dithered,
  mausam: Mausam,
  "wezterm-presence": Wezterm,
};

const Component = map[slug] ?? null;
---

{Component && (
  <aside class="post-artifact" aria-label={`Artifact: ${slug}`}>
    <Component />
    <span class="post-artifact-tag">// {slug}</span>
  </aside>
)}
