<div class="art art-dossier" aria-hidden="true">
  <div class="d-stack">
    <div class="d-sheet d-archive">
      <div class="d-band"></div>
      <div class="d-rule"></div>
      <div class="d-rule short"></div>
    </div>
    <div class="d-sheet d-field">
      <div class="d-band"></div>
      <div class="d-rule"></div>
      <div class="d-rule short"></div>
    </div>
    <div class="d-sheet d-manifest">
      <div class="d-band"></div>
      <div class="d-rule"></div>
      <div class="d-rule short"></div>
    </div>
  </div>
  <div class="d-meta">
    <span>3 SHEETS · 1 DOM</span>
    <em>VIEW-TRANSITIONS // 460 MS</em>
  </div>
</div>
